name: DeployDist
on: [push,workflow_dispatch]
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Get Code
              uses: actions/checkout@v6
            #   run: |
            #     echo "cloning repo"
            #     echo "${{toJson(github)}}
            #     git clone "https://github.com/${{github.repository}}.git
            - name: Install Node 20
              uses: actions/setup-node@v6
              with: 
                node-version: 20
            - name: Print NodeJS Version
              run:  node -v
            - name: Install Dependecies
              run: npm ci
            - name: Run Test Script
              run: npm run test
    deploy:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Get Code
              uses: actions/checkout@v6
            #   run: |
            #     echo "cloning repo"
            #     echo "${{toJson(github)}}
            #     git clone "https://github.com/${{github.repository}}.git
            - name: Install Node 20
              uses: actions/setup-node@v6
              with: 
                node-version: 20
            - name: Print NodeJS Version
              run:  node -v
            - name: Install Dependecies
              run: npm ci
            - name: Run Build Script 
              run: npm run build
            - name: Deploy status
              run: echo "Deployment Successfully!"